body{
    background-color: black;
    font: normal 15pt Arial;
    color: white;
}

#divBotao{
    text-align: center;
}

#divTitulo{
    color: white;
    background-color: rgb(107, 4, 4);
    border-radius: 15px;
    width: 500px;
    height:80px;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.52);
    line-height: 80px;
}
#btIniciar{
    font:normal 20pt Arial;
    margin-top: 50px;
    text-align: center;
    margin: auto;
    width: 200px;
    background-color: rgb(136, 3, 3);
    color: white;
    border-radius: 5px;
    border: 2px solid rgb(107, 4, 4);
    transition-duration: 0.4s ;
}
#btIniciar:hover{
    background-color: rgb(71, 9, 9);
    color: white;
}

#btProximo{
    font:normal 16pt Arial;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100px;
    height: 50px;
    background-color: rgb(136, 3, 3);
    color: white;
    border-radius: 5px;
    border: 2px solid rgb(71, 9, 9);
    text-align: center;
    transition-duration: 0.4s ;
}
#btProximo:hover{
    background-color: rgb(71, 9, 9);
    color: white;
}

#resp{
    height: 30px;
    border-radius: 5px;
    text-align: center;
    margin-top:30px;
    line-height: 30px;
}

#sectionQuiz{
    color: black;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 800px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.52);
}

#divPerguntas{
    color: white;
    background-color: rgb(107, 4, 4);
    border-radius: 15px;
    width: 700px;
    height:80px;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.52);
    line-height: 80px;
}

#divRespostas{
    vertical-align: top;
    display: inline-block;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }